pandas==2.2.0          # For data manipulation and analysis
plotly==5.5.0          # For interactive plotting
kaleido == 0.2.1       # For static image export of Plotly figures
pytest == 8.1.1        # For testing
PyPDF2 ==2.0.0         # For PDF manipulation